*{
    margin: 0;
    padding: 0;

    font-family: 'Manrope', sans-serif;

    overflow-x: hidden;
}

/* ---- particles.js container ---- */

#particles-js{
    position: absolute;
    width: 100%;
    height: 90%;
}

html{
    background-color: #0b0d17;
}

main{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction{
    width: 800px;

    z-index: 1;

    text-align: center;
    color: #fff;
}

.introduction h2,
.introduction h1,
.introduction p,
.introduction ul{
    padding: 5px;
}

.introduction h2{
    font-size: 1.5em;
    color: #7e4dcc;
    text-transform: uppercase;
}

.introduction h1{
    font-size: 4em;
}

.introduction p{
    font-size: 1.2em;
}

.introduction ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;

    padding-top: 10px;
}

.introduction ul li{
    padding: 10px;
}

.introduction ul li a{
    text-decoration: none;
    color: #fff;
}

.introduction ul li a i{
    font-size: 1.5em;
    transition: ease 0.5s;
}

.introduction ul li a i:hover{
    transition: ease 0.5s;
    color: #7e4dcc;
}

.introduction .under{
    margin-top: 30px;
    font-size: 1.5em;
}

.features{
    width: 100%;
    height: 450px;

    background-color: #7e4dcc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features .conteudo{
    width: 800px;
    height: 350px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

.features .conteudo .left{
    border-radius: 5px;
    width: 50%;
    height: 100%;
    background-color: #7e4dcc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.features .conteudo .left img{
    object-position: center;
    object-fit: cover;
    height: 290px;

    animation: spin 10s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }50%{
        transform: rotate(10deg);
    }100%{
        transform: rotate(0deg);
    }
}

.features .conteudo .right{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features .conteudo .right h2,
.features .conteudo .right p,
.features .conteudo .right span{
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}

.features .conteudo .right h2{
    font-size: 2.5em;
}

.features .conteudo .right span{
    padding-top: 20px;
    font-weight: bold;
}

.features .conteudo .right span a{
    text-decoration: none;
    color: #fff;
}

.features .conteudo .right span:hover a{
    transition: ease 0.5s;
    color: rgb(194, 182, 182);
}

.services{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding-top: 15px;

    color: #fff;
}

.services .services-title h1{
    font-size: 2.5em;
    color: #7e4dcc;
}

.services .grid-layout{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 350px 350px 350px;

    padding-top: 10px;
}

.services .grid-layout .box{
    height: 250px;
    width: 320px;

    margin-top: 25px;

    background-color: rgb(228, 220, 220);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    border-radius: 5px;
}

.services .grid-layout .box .box-icon,
.services .grid-layout .box .box-title,
.services .grid-layout .box .box-desc,
.services .grid-layout .box .box-button{
    width: 90%;
    padding-left: 20px;
    color: #000;
}

.services .grid-layout .box .box-icon{
    font-size: 3em;
    color: #000;
}

.services .grid-layout .box .box-title{
    font-size: 2em;
    margin-top: 30px;
    font-weight: bold;
}

.services .grid-layout .box .box-desc{
    padding-top: 5px;
    font-size: light;
}

.services .grid-layout .box .box-button{
    padding-top: 25px;
    font-size: 0.9em;

    color: #7e4dcc;
}

.services .grid-layout .box .box-button a{
    transition: ease 0.5s;
    color: #7e4dcc;
    text-decoration: none;
    font-weight: bold;
}

.services .grid-layout .box .box-button a i{
    display: none;
}

.services .grid-layout .box .box-button:hover a{
    transition: ease 0.2s;
    color: #7e4dcc;
}

.contact{
    width: 100%;
    height: 300px;

    padding-top: 50px;

    background-image: url("../images/Whangaehu.svg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    text-align: center;
}

.contact h1{
    font-size: 3em;
    width: 500px;
    color: #fff;

    background-color: #000;
    padding: 10px;
}

.contact a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.contact a .contact-button{
    transition: ease 0.5s;
    margin-top: 30px;

    border-radius: 5px;

    width: 200px;
    height: 60px;

    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.1em;
}

.contact a .contact-button:hover{
    transition: ease 0.5s;
    background-color: #fff;
    color: #000;
}

.works{
    width: 100%;
    height: 140%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.works h1{
    font-size: 2.5em;
    padding-top: 25px;
    font-weight: bold;

    color: #7e4dcc;
}

.works .grid-layout--2{
    display: grid;
    grid-template-columns: 450px 450px;

    padding-top: 10px;
}

.works .grid-layout--2 .box-work{
    width: 400px;
    height: 400px;
    margin-top: 10px;
}

.works .grid-layout--2 .box-work a .fundo-box{
    width: 100%;
    height: 280px;

    border-radius: 5px;
}

.works .grid-layout--2 .box-work .box-work-title{
    padding-top: 5px;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
}

.works .grid-layout--2 .box-work .box-work-desc{
    padding-top: 5px;
    color: #fff;
    font-size: 0.8em;
}

.works .grid-layout--2 .box-work:nth-child(1) a .fundo-box{
    background-image: url("../images/Cover11.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.works .grid-layout--2 .box-work:nth-child(2) a .fundo-box{
    background-image: url("../images/Cover12.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.works .grid-layout--2 .box-work:nth-child(3) a .fundo-box{
    background-image: url("../images/Cover21.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.works .grid-layout--2 .box-work:nth-child(4) a .fundo-box{
    background-image: url("../images/Cover22.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    width: 100%;
    height: 100px;

    background-color: #7e4dcc;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

// RESPONSIVIDADE PARA CELULARES

@media only screen and (max-width: 375px){
    .introduction{
        width: 350px;
    
        z-index: 1;
    
        text-align: center;
        color: #fff;
    }
    
    .introduction h2,
    .introduction h1,
    .introduction p,
    .introduction ul{
        padding: 5px;
    }
    
    .introduction h2{
        font-size: 1.5em;
        color: #7e4dcc;
        text-transform: uppercase;
    }
    
    .introduction h1{
        font-size: 2.5em;
    }
    
    .introduction p{
        font-size: 1em;
    }

    //FEATURES - ABOUT ME

    .features{
        height: 500px;
    }
    
    .features .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .features .conteudo .left img{
        height: 200px;
    }
    
    .features .conteudo .right{
        padding-top: 20px;
    }

    .features .conteudo .right p{
        width: 330px;
        font-size: 1em;
    }

    // SERVICES - MY KNOWLEDGE

    .services{
        height: 1800px;
 
        flex-direction: column;
    }
    
    .services .services-title h1{
        text-align: center;
    }
    
    .services .grid-layout{
        grid-template-columns: 320px;
    }
    
    .services .grid-layout .box{
        width: 320px;
    }

    // CONTACT

    .contact{
        width: 100%;
        height: 250px;
    }
    
    .contact h1{
        font-size: 2em;
        width: 325px;
    }

    // MY WORKS

    .works{
        height: auto;
        flex-direction: column;
    }

    .works .grid-layout--2{
        grid-template-columns: 320px;
        padding-top: 25px;
    }
    
    .works .grid-layout--2 .box-work{
        width: 320px;
        margin-top: 0px;
    }

    .works .grid-layout--2 .box-work .box-work-title{
        font-size: 1.2em;
    }

    .works .grid-layout--2 .box-work .box-work-desc{
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 340px){
    main{
        height: 100%;
        width: 100%;
    }

    #particles-js{
        height: 100%;
        width: 100%;
    }

    .introduction{
        width: 100%;
        padding: 10px;

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features .conteudo{
        height: 500px;
    }

    .features .conteudo .left{
        width: 360px;
        height: 150px;
    }

    .features .conteudo .right{
        width: 360px;
        height: auto;
    }

    .features .conteudo .right h2,
    .features .conteudo .right p,
    .features .conteudo .right span{
        padding-left: 15px;
    }
}

@media only screen and (max-width: 414px){
    .introduction{
        width: 350px;
    
        z-index: 1;
    
        text-align: center;
        color: #fff;
    }
    
    .introduction h2,
    .introduction h1,
    .introduction p,
    .introduction ul{
        padding: 5px;
    }
    
    .introduction h2{
        font-size: 1.5em;
        color: #7e4dcc;
        text-transform: uppercase;
    }
    
    .introduction h1{
        font-size: 2.5em;
    }
    
    .introduction p{
        font-size: 1em;
    }

    //FEATURES - ABOUT ME

    .features{
        height: 500px;
    }
    
    .features .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .features .conteudo .left img{
        display: none;
        height: 0px;
    }

    .features .conteudo .left{
        height: 10px;
    }
    
    .features .conteudo .right{
        height: 500px;
    }

    .features .conteudo .right p{
        width: 330px;
        height: 150px;

        font-size: 1em;
    }

    

    // SERVICES - MY KNOWLEDGE

    .services{
        height: 1800px;
 
        flex-direction: column;
    }
    
    .services .services-title h1{
        text-align: center;
        padding: 10px;
    }
    
    .services .grid-layout{
        grid-template-columns: 320px;
    }
    
    .services .grid-layout .box{
        width: 320px;
    }

    // CONTACT

    .contact{
        width: 100%;
        height: 250px;
    }
    
    .contact h1{
        font-size: 2em;
        width: 325px;
    }

    // MY WORKS

    .works{
        height: auto;
        flex-direction: column;
    }

    .works .grid-layout--2{
        grid-template-columns: 320px;
        padding-top: 25px;
    }
    
    .works .grid-layout--2 .box-work{
        width: 320px;
        margin-top: 0px;
    }

    .works .grid-layout--2 .box-work .box-work-title{
        font-size: 1.2em;
    }

    .works .grid-layout--2 .box-work .box-work-desc{
        font-size: 1.1em;
    }
}





